body {
  background-color:  #f5f0f6;
}

#Header {
  color: #2E2E2E;
  text-align: center;
  text-shadow: 2px 2px 5px darkred;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  margin-bottom: 50px;
}

.list {
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
  

}

.Recipe {
  color: #0A0A23;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}