body {
  background-color: #F5F5DC;
}

#Header {
  color: #2E2E2E;
  text-align: center;
  text-shadow: 2px 2px 5px darkred;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
}

.list {
  list-style-type: none;
  text-align: center;
}

.Recipe {
  color: #0A0A23;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}