body {
  background-color:  #f5f0f6;
}

#Header {
  color: #2E2E2E;
  text-align: center;
  text-shadow: 2px 2px 5px darkred;
  font-family: 'Lobster Two', cursive;
  font-size: 3em;
  margin-bottom: 50px;
}

.list {
  list-style-position: outside;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.Recipe:link, .Recipe:visited {
  background-color: darkred;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.Recipe:hover, .Recipe:active {
  background-color: red;
}